<div class="accordion-item text-light">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Airports
                </button>

            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionStaffPage">
                <div class="accordion-body">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#airportAddEditModal">
                        Add new airport
                    </button>
                    <br />
                    <!-- Modal -->
                    <div class="modal fade bg-dark" id="airportAddEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Fill the airport fields</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row" hidden>
                                        <div class="col-md-4">
                                            <span>ID</span>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control airport-id" disabled />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span>Name</span>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control airport-name" onkeypress="" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span>City</span>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control airport-city" onkeypress="" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span>Country</span>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control airport-country" onkeypress="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="saveAirport" data-bs-dismiss="modal" onclick="    saveUpdateAirportButtonHandler();">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="airportsTable" class="content"></div>
                </div>
            </div>
        </div>