<div class="accordion-item text-light">
    <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Passengers
        </button>

    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-heading" data-bs-parent="#accordionStaffPage">
        <div class="accordion-body">
            <br />
            <div id="passengersTable" class="content"></div>
        </div>
    </div>
</div>